@import "../../pages/Admin/variables.scss";

@keyframes modal {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.add {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.724);
  display: flex;
  align-items: center;
  justify-content: center;

  .modal {
    box-shadow: rgba(0, 0, 0, 1) 0px 3px 8px;
    padding: 50px;
    border-radius: 10px;
    background-color: $main-bg;
    position: relative;
    animation: modal 0.3s ease;

    .desabledBtn {
      background-color: red !important;
      pointer-events: none;
    }

    .error {
      padding-top: 3px;
      width: 100%;
      height: 30px;
      text-align: center;
      color: rgb(255, 21, 0);
      font-weight: 700;
      font-size: 14px;
      /* border: 1px solid green; */
    }

    label {
      font-size: 14px;
      color: white;
      font-weight: 400;
      letter-spacing: 0.5px;
    }

    h1 {
      margin-bottom: 40px;
      font-size: 24px;
      color: $soft-color;
    }

    .close {
      position: absolute;
      top: 0px;
      border-radius: 0px 10px;
      right: 0px;
      font-size: 20px;
      cursor: pointer;
      font-weight: 900;
      background-color: rgb(212, 14, 14);
      padding: 10px;
      box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
    }

    form {
      display: flex;
      flex-wrap: wrap;
      max-width: 500px;
      // min-width: 400px;
      justify-content: space-between;

      .item {
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;

        .menu-deroulant {
          padding: 0px;
          .containerList {
            background: transparent;
            position: relative;
          }

          .select-btn {
            display: flex;
            height: 40px;
            align-items: center;
            justify-content: space-between;
            padding: 0 16px;
            border-radius: 8px;
            cursor: pointer;
            background-color: #fcfeff;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

            .btn-text {
              /* height: 40px; */
              width: 100%;
              font-size: 16px;
              font-weight: 400;
              color: #333;
            }

            .arrow-dwn {
              display: flex;
              height: 21px;
              width: 21px;
              color: #fff;
              font-size: 14px;
              border-radius: 50%;
              background: $orange;
              align-items: center;
              justify-content: center;
              transition: 0.3s;
            }
          }

          .select-btn.open .arrow-dwn {
            transform: rotate(-180deg);
          }

          .list-type.open {
            opacity: 1;
            pointer-events: all;
          }
          .list-type {
            position: absolute;
            margin-top: 5px;
            width: 100%;
            max-height: 180px;
            overflow: auto;
            border-radius: 8px;
            // padding: 14px;
            background-color: #fff;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
            /* display: none; */
            opacity: 0;
            pointer-events: none;
            transition: all 0.3s ease;

            .type {
              display: flex;
              align-items: center;
              list-style: none;
              height: 40px;
              cursor: pointer;
              transition: 0.3s;
              padding: 0 15px;
              border-radius: 8px;
              margin-top: 0px;
              justify-content: flex-start;
            }
            .type:hover {
              background-color: #e7edfe;
            }
            .item-text {
              font-size: 12px;
              font-weight: 400;
              color: #333;
            }
            .checkbox {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 16px;
              width: 16px;
              border-radius: 4px;
              margin-right: 12px;
              border: 1.5px solid #c0c0c0;
              transition: all 0.3s ease-in-out;
            }
          }
        }

        input {
          padding: 10px;
          background-color: transparent;
          color: white;
          outline: none;
          border-radius: 3px;
          box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
          border: 1px solid $soft-color;
        }

        .labelInput {
          box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
          border: 1px solid $soft-color;
          padding: 10px;
          background-color: transparent;
          color: #717273;
          outline: none;
          border-radius: 3px;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;
          cursor: pointer;
          overflow: hidden;

          img {
            width: 20px;
          }

          span {
            min-width: 150px;
            max-width: 150px;
            font-size: 13px;
          }
        }
      }
      button {
        width: 100%;
        padding: 10px;
        cursor: pointer;
        border-radius: 5px;
        border: none;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.5px;
        background-color: $orange;
        color: #fff;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
        transition: 0.3s ease;
        &:hover {
          transform: scale(1.02);
        }
        &:active {
          transform: scale(1);
        }
      }
    }
  }
}
