@import "../../pages/Admin/responsive.scss";
@import "../../pages/Admin/variables.scss";

.product {
  display: flex;
  max-height: 100vh;

  @include xl {
    flex-direction: column;
    gap: 50px;
  }

  .view {
    // flex: 1;
    width: 60%;

    .info {
      .topInfo {
        margin-left: 50px;
        display: flex;
        gap: 20px;

        h1 {
          font-weight: 500;
        }
      }
      .details {
        font-size: 18px;

        .item {
          margin: 20px 0px;
          width: 90%;
          flex-direction: column;
          display: flex;
          p {
            text-align: justify;
            span {
              color: $orange;
            }
          }
        
        }
      }
    }

    hr {
      width: 90%;
      height: 0;
      border: 0.5px solid gray;
      margin: 20px 0px;

      @include md {
        display: none;
      }
    }

    .chart {
      //   margin-top: 50px;
      width: 80%;
      height: 350px;

      @include md {
        display: none;
      }
    }
  }
  .activities {
    flex: 1;

    h2 {
      margin-bottom: 20px;
    }

    ul {
      position: relative;
      overflow: hidden;
      height: 70vh;
      // max-height: 500px;
      li {
        list-style-type: none;
        position: relative;
        width: 1px;
        padding-top: 50px;
        background-color: #f45b69;

        &::after {
          content: "";
          position: absolute;
          left: 50%;
          bottom: 0;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #f45b69;
          transform: translateX(-50%);
        }

        div {
          min-width: 480px;
          padding: 10px;
          background-color: #f45b6810;

          @include md {
            min-width: 250px;
          }

          p {
            margin-bottom: 5px;
          }

          time {
            font-size: 12px;
          }
          span {
            font-size: 14px;
          }
        }
      }
    }
  }
}
