@import "../../pages/Admin/responsive.scss";
@import "../../pages//Admin/variables.scss";

.navbar {
  width: 100%;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
  height: 70px;

  .date {
    position: relative;
    .selected__date {
      width: 200px;
      height: 50px;
      box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
      border: 2px solid #384256;
      border-radius: 10px;
      display: flex;
      align-items: center;
      padding: 20px;
      h2 {
        color: #fff;
        font-size: 18px;
        width: 100%;
      }

      input {
        background: transparent;
        border: none;
        outline: none;
        color: #fff;
        width: 150px;
        font-size: 18px;
        cursor: pointer;
        caret-color: transparent;
      }

      .chevron {
        padding: 3px;
        background-color: $orange;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px;
        transition: all 0.2s ease;
        transition: transform 0.2s;
        transform-origin: center;
        &.up {
          transform: rotate(180deg);
        }
        &:hover {
          transform: scale(1.03);
        }
        &:active {
          transform: scale(0.95);
        }
      }
    }

    .setect__date {
      box-shadow: rgba(0, 0, 0, 1) 0px 1px 4px;
      margin-top: 10px;
      position: absolute;
      display: flex;
      padding: 10px;
      flex-direction: column;
      width: 200px;
      justify-content: center;
      min-height: 50px;
      background-color: #fff;
      border-radius: 5px;
      z-index: 1000;
      opacity: 0;
      transform: scale(1.1);
      pointer-events: none;
      transition:
        opacity 0.3s ease,
        transform 0.3s ease;
      gap: 7px;
      &.visible {
        pointer-events: all;
        opacity: 1;
        transform: scale(1);
      }

      label {
        color: #000;
        font-size: 20px;
        width: 100% !important;
        display: block;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px;
        border-radius: 5px;
        font-weight: 500;
        text-align: center;
        position: relative;
        transition: 0.3s ease;
        z-index: 1000;
        &:hover {
          cursor: pointer;
          transform: scale(1.02);
        }
        &:active {
          cursor: pointer;
          transform: scale(0.98);
        }

        input {
          display: none;
        }
      }
    }
  }

  .logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 10px;
    width: 20px;

    img {
      width: 20px;
    }
  }
  .icons {
    display: flex;
    align-items: center;
    gap: 30px;

    .icon {
      width: 25px;
      height: 25px;
      @include sm {
        display: none;
      }
    }
    .powerIcon {
      width: 25px;
      height: 25px;
      color: red;
      cursor: pointer;
    }

    .notification {
      position: relative;
      transition: 0.2s;
      &:hover {
        cursor: pointer;
      }
      &:active {
        transform: scale(0.9);
      }

      span {
        background-color: red;
        padding: 8px;
        color: white;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        position: absolute;
        top: -8px;
        right: -10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
      }
    }

    // ======================= NOTICATION ========================

    .log {
      width: 25%;
      height: 28vh;
      overflow: hidden;
      padding: 10px;
      border: 1px solid #384256;
      background: #2a3447;
      box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
      border-radius: 20px;
      position: absolute;
      top: 50px;
      right: 240px;
      z-index: 1;
      opacity: 0;
      pointer-events: none;
      transition: all 0.3s ease;
      transform: scale(1.2);
      &.showed {
        pointer-events: all;
        opacity: 1;
        transform: scale(1);
      }
      .journal {
        width: 100%;
        height: 75px;
        align-items: center;
        padding: 10px;
        border: 2px solid #384256;
        background: #2a3447;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px;
        border-radius: 15px;
        margin-bottom: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        transition: 0.3s ease;
        &:hover {
          transform: scale(0.99);
        }

        .logDate {
          color: $orange;
        }
        h2 {
          font-size: 12px;
          font-weight: normal;
        }
        span {
          color: $orange;
          font-weight: 700;
        }
      }
    }

    // ======================= NOTICATION ========================

    .user {
      display: flex;
      align-items: center;
      gap: 10px;

      .userIcon {
        padding: 3px;
        border: 2px solid green;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
      }
      span {
        font-size: 20px;
        font-weight: 500;
        text-transform: capitalize;
      }
    }
  }
}
