*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    scroll-behavior: smooth;
    overflow: hidden;
}
body {
    background: linear-gradient( #5F7FAB, #888A98);

}
